.eachKeySection {
    margin: 0 10px;
}

.KeyTitle {
    margin: 0
}

.miss {
    background-color: rgba(125, 0, 0, 0.559);
    color: lightcoral;
}

.make {
    background-color: rgba(0, 128, 0, 0.507);
    color: lightGreen;
}

.button {
    width: 50px;
    height: 40px;
    border-radius: 5px;
    font-size: 2rem;
}